body {
    display: flex;
    flex-direction: column;
    font-style: arial;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 100px;
    
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-bottom: 100px;
}

.Random {
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
    color: #1f2937;
}

.exercise img {
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.mid-subtext {
    width: 200px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.subheader-1 {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 800px;
}

.subheader-2 {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-bottom: 100px;
}

.info-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    gap: 10px;
}

.subtext {
    width: 400px;
    font-size: 18px;
    color:#e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

.h-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8
}

.Main-text {
    color: #f9faf8;
    font-weight: 700;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    padding: 7px;
    border: none;
}

.third-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quote-text {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    width: 1200px;
    margin: 200px;
}

.quote {
    font-style: italic;
    color: #1f2937;
}

.quotation {
    font-style: default;
    align-self: flex-end;
    font-weight: bold;
}

.action {
    display: flex;
    background-color: #3882f6;
    width: 1300px;
    justify-content: space-evenly;
    margin: 150px;
    padding: 100px;
    border-radius: 20px;
}

.call {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.bold-action {
    font-size: 24px;
    font-weight: 900;
}

.sign-up {
    font-size: 20px;
}

.fourth {
    border: 2px solid #e5e7eb;
    font-size: 18px;
}

.fifth-section {
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 40px;
}




